{% extends 'base.html.twig' %}

{% block title %}Edit ChiefSpeech{% endblock %}

{% block body %}

<section id="editChiefSpeech" class="editContainer">
        <div class="container">
            <h2>Mettre à jour l'ecart "mot du chef"</h2>

            {{ include('chief_speech/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

            <a class="btn-back" href="{{ path('chief_speech_index') }}">Retour à la liste</a>
        </div>
    </section> 
    

{% endblock %}
