{% extends 'baseExtranet.html.twig' %}

{% block title %}Config. Service{% endblock %}

{% block body %}
    <h1>Ajout de nouveau produit</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Produits</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pharma_stock in pharma_stocks %}
            <tr>
                <td>{{ pharma_stock.productsName }}</td>
                <td>
                    <a href="{{ path('pharma_stock_edit', {'id': pharma_stock.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('pharma_new_product') }}">Ajouter un produit</a>
{% endblock %}
