{% extends 'baseExtranet.html.twig' %}

{% block title %}Réarmement VSAV{% endblock %}

{% block body %}
    <h1>Réarmement du VSAV</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Produits</th>
                <th>Quantitée</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pharma_stock in pharma_stocks %}
            <tr>
                <td>{{ pharma_stock.productsName }}</td>
                <td>{{ pharma_stock.productsQuantity }}</td>
                <td>
                    <a style="text-decoration: none; color: green; font-weight: bold;" href="{{ path('pharma_stock_edit', {'id': pharma_stock.id}) }}">J'en ai pris !</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
