{% extends 'baseExtranet.html.twig' %}

{% block title %}Gestion des stocks{% endblock %}

{% block body %}
    <h1>Gestion des stocks</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Produits</th>
                <th>Quantitée</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pharma_stock in pharma_stocks %}
            <tr>
                <td>{{ pharma_stock.productsName }}</td>
                <td>{{ pharma_stock.productsQuantity }}</td>
                <td>
                    <a href="{{ path('pharma_stock_editReplenishment', {'id': pharma_stock.id}) }}">Modifier le stock</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
