{% extends 'base.html.twig' %}

{% block title %}C.I.S La MONTAGNE{% endblock %}

{% block body %}
<section id="stationPresentation">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="stationPicture">
                    <div class="row">
                        <div class="col-md-12">
                            <h2>Effectif du C.I.S La MONTAGNE</h2>
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="col-md-12">
                            {% for station_core_picture in station_core_pictures %}
                                <img class="img-fluid" src="{{ asset('img/upload/stationPicture/' ~ station_core_picture.picture) }}"  alt="">    
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="containerChiefSpeech">
                    {% for chief_speech in chief_speeches %}
                        <img src="{{ asset('img/upload/chiefPicture/' ~ chief_speech.picture) }}" width="100" alt="">
                        <figcaption>{{ chief_speech.underTitle }}</figcaption>
                    {% endfor %}
                        <h3>Le mot du<br>chef de centre</h3>
                    {% for chief_speech in chief_speeches %}
                        <p>{{ chief_speech.text|raw }}</p>
                    {% endfor %}
                </div>                
            </div>
        </div>
    </div>
</section>

<section id="stationStory">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Histoire du C.I.S La Montagne</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <p>Le centre d'incendie et de secours de La montagne possède un effectif de 27 Sappeurs-Pompiers volontaire, dont XX officiers, XX sous-officiers et XX homme du rangs. C'est un centre entièrement composé de volontaire. Ce centre de secours dépend du sdis 44 groupement sud.</p>
                <p>Le centre d'incendie et de secours de La Montagne à pris la place de l'ancienne école des filles de la montagne. C'est entre ces murs que sont entreposés les camions, et ou ce deroule les entraînement des sapeurs pompiers ainsi que les réunion propre au bon fonctionnement du centre.</p>
            </div>
        </div>
    </div>
</section>

{% endblock %}
