{% extends 'base.html.twig' %}

{% block title %}C.I.S La MONTAGNE{% endblock %}

{% block body %}
<section id="rgpd">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Rejoignez-nous</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">

            </div>
        </div>
    </div>
</section>

{% endblock %}
