{% extends 'base.html.twig' %}

{% block title %}Numéro d'urgence{% endblock %}

{% block body %}
<section id="UrgencyPhone">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div>
                    <h2>
                        Les numéros d'urgence des Sapeurs-Pompiers
                    </h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <p>
                    Vous êtes victime ou témoin d'un accident? Savez-vous dans quels cas appeler les Sapeurs-Pompiers et quels renseignements leur donner ?
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 img_18_112">
                <img src="{{ asset('img/divers/18_112.avif') }}" type="image/AVIF" alt="18/112">
            </div>

            <div class="col-md-6">
                <h3>
                    Dans quel cas les appeler?
                </h3>

                <p>
                    Vous devez appeler les Sapeurs-Pompiers lorsque :
                    <br>
                    <ul>
                        <li>Une ou plusieurs vies sont en danger : malaise, blessure grave, départ de feux, accident de la route...</li>
                        <li>Des biens ou l'environnement sont menacés : pollution, innondation, chute d'abre</li>
                    </ul>
                    Si vous appelez le 18 ou le 112 par erreur, ne raccrocher pas! Expliquez à l'opérateur que tout va bien. Dans le cas contraire, il se peut qu'une aide d'urgence soit envoyée pour s'assurer qu'il n'y a aucun problème.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <h3>
                    Quels renseignements donner à l'opérateur?
                </h3>

                <p>
                    <ul>
                        <li>Où vous trouvez-vous ? Indiquez le lieu le plus précisément possible pour permettre aux secours de vous trouver rapidement (ville, rue, numéro, étage, code d’accès à l’immeuble si nécessaire, etc.)</li>
                        <li>Que se passe-t-il ? Indiquez la nature du problème (feu, malaise, accident, etc.), le nombre et l’état des victimes</li>
                        <li>Y a-t-il un risque que les choses s’aggravent ? Evoquez les risques éventuels d’incendie, d’explosion ou d’effondrement</li>
                        <li>Répondez aux questions qui vous seront posées par la personne que vous aurez au téléphone.</li>
                    </ul>
                    Surtout ne racrochez pas! L'opérateur qui a pris en charge votre appel vous dira quand elle aura toutes les informations nécessaires. Donnez votre numéro de téléphone et si possible, restez sur place tout en vous assurant d'être le plus en sécurité possible afin de guider les secours.
                </p>
            </div>

            <div class="col-md-6 img_cta">
                <img src="{{ asset('img/divers/cta.avif') }}" type="image/AVIF" alt="CTA/CODIS">
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h3>Le 112 est le numéro d'appel d'urgence européen</h3>

                <p>
                    Le 112 peut être composé :
                    <br>
                    <ul>
                        <li>Pour contacter tout service d'urgence</li>
                        <li>Dans n'importe quel pays de l'union européenne</li>
                        <li>A partir d'un téléphone fixe ou portable gratuitement, avec n'importe quel opérateur européen</li>
                        <li>Même sans parler la langue du pays : si besoin l’opérateur vous mettra en relation avec un opérateur parlant votre langue.</li>
                    </ul>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 img_coeur">
                <img class="img-fluid" src="{{ asset('img/divers/coeur.avif') }}" type="image/AVIF" style="max-height:125px;" alt="Coeur">
            </div>

            <div class="col-md-9">
                <h3>ATTENTION : Appelez, mais n'en abusez pas !</h3>
                <p>
                    Lorsque vous composez le 18 ou le 112, votre appel est réceptionné par une plate-forme départementale : le centre de traitement de l’alerte. Tout appel abusif peut retarder la prise en charge d’une détresse vitale.
                </p>
            </div>
        </div>
    </div>
</section>

<script>
            window.scrollTo(0, 150);
</script>

{% endblock %}
