{% extends 'base.html.twig' %}

{% block title %}Edit Missions{% endblock %}

{% block body %}

    <section id="editStationCorePicture" class="editContainer">
        <div class="container">
            <h2>Mettre à jour l'article "nos missions"</h2>

            {{ include('missions/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

            <a class="btn-back" href="{{ path('missions_index') }}">Retour à la liste</a>
        </div>
    </section>

{% endblock %}
