{% extends 'base.html.twig' %}

{% block title %}New Missions{% endblock %}

{% block body %}
    <section id="newStationCorePicture" class="newContainer">
        <div class="container">
            <h2>Créer l'article "Nos missions</h2>

            {{ include('missions/_form.html.twig') }}

            <a class="btn-back" href="{{ path('missions_index') }}">Retour à la liste</a>
        </div>
    </section> 
{% endblock %}
