{% extends 'base.html.twig' %}

{% block title %}Edit AmicaleNews{% endblock %}

{% block body %}
    <section id="editStationCorePicture" class="editContainer">
        <div class="container">
            <h2>Mettre à jour la news : {{ amicale_news.title }}</h2>

            {{ include('amicale_news/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

            <a class="btn-back" href="{{ path('amicale_news_index') }}">Retour à la liste</a>
        </div>
    </section> 

{% endblock %}
