{% extends 'base.html.twig' %}

{% block title %}New AmicaleNews{% endblock %}

{% block body %}
    <section id="newStationCorePicture" class="newContainer">
        <div class="container">
            <h2>Ajouter une nouvelle news</h2>

            {{ include('amicale_news/_form.html.twig') }}

            <a class="btn-back" href="{{ path('amicale_news_index') }}">Retour à la liste</a>
        </div>
    </section> 
{% endblock %}
