<form method="post" action="{{ path('control_vehicles_delete', {'id': control_vehicle.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ control_vehicle.id) }}">
    <button class="btn">Delete</button>
</form>
