{% extends 'baseExtranet.html.twig' %}

{% block title %}New ControlVehicles{% endblock %}

{% block body %}
    <section id="newControlVehicle">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Nouveau Contrôle</h2>

                    {{ include('control_vehicles/_form.html.twig') }}

                    <a href="{{ path('control_vehicles_index') }}">Retour au menu précédent</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
