/*








*/
h2 {
  text-align: center;
}

.inputDisappearance {
  display: none;
}

header {
  background-image: url(../img/background/bg-header.jpg);
  background-position: center;
  background-size: cover;
  height: 80vh;
}

header .topBarre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 5px;
  margin-bottom: 5px;
  color: #ed7464;
}

header .topBarre a {
  margin-right: 25px;
  text-decoration: none;
  color: #ed7464;
}

header .topBarre a i {
  margin-right: 5px;
}

header .topBarre .socialNetwork {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .topBarre .socialNetwork .socialNetwork-P {
  margin-right: 15px;
  padding-right: 15px;
  border-right: 1px solid #c8c8c8;
}

header .topBarre .socialNetwork p {
  margin-bottom: 5px;
}

header .topBarre .socialNetwork p i {
  margin: 0px 5px;
}

header .topBarreContainer {
  border-bottom: 1px solid #e1e1e1;
}

#principalNav {
  background-color: rgba(230, 230, 230, 0.5);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#principalNav a {
  color: #f14e38;
  text-transform: uppercase;
}

#principalNav .user-dropdown {
  height: 41px;
}

#principalNav .user-dropdown .dropdown a {
  padding: 0px;
}

#principalNav .user-dropdown .dropdown a i {
  font-size: 40px;
  margin: 0px;
}

#stationPresentation h2::after {
  display: block;
  height: 2px;
  background-color: #f14e38;
  width: 250px;
  content: "";
  margin: 5px auto;
  margin-bottom: 30px;
}

#stationPresentation .stationPicture {
  padding-top: 50px;
}

#stationPresentation .containerChiefSpeech {
  padding-top: 50px;
  background-color: #e1e1e1;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#stationPresentation .containerChiefSpeech img {
  border-radius: 100%;
}

#stationPresentation .containerChiefSpeech h3 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 15px;
}

#stationPresentation .containerChiefSpeech p {
  text-align: justify;
  padding: 0px 15px;
}

#stationStory {
  padding: 50px 0px;
}

#stationStory h2::after {
  display: block;
  height: 2px;
  background-color: #f14e38;
  width: 250px;
  content: "";
  margin: 5px auto;
  margin-bottom: 30px;
}

#stationStory p {
  text-align: justify;
}

footer {
  color: white;
  background-color: #969696;
  height: 218px;
  padding: 15px 0px;
}

footer .central-footer {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .central-footer .bloc-mentions-legales a {
  color: white;
  text-decoration: none;
  padding: 0px 20px;
  margin-right: -5px;
}

footer .central-footer .bloc-mentions-legales .border-right {
  border-right: 1px solid white;
}

footer .right-footer li {
  list-style: none;
}

footer .right-footer li a {
  color: white;
  text-decoration: none;
}

footer .right-footer li i {
  margin-right: 8px;
}

@media screen and (max-width: 1525px) {
  .dropdown-menu[data-bs-popper] {
    top: 100%;
    left: -60px;
    margin-top: .125rem;
  }
}

@media screen and (max-width: 1399px) {
  .dropdown-menu[data-bs-popper] {
    top: 100%;
    left: 0px;
    margin-top: .125rem;
  }
}

@media screen and (max-width: 1340px) {
  .dropdown-menu[data-bs-popper] {
    top: 100%;
    left: -85px;
    margin-top: .125rem;
  }
}

#back-office-container-laptop #navBackOffice {
  border: 1px solid black;
}

#back-office-container-laptop .container-fluid {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
}

#back-office-container-laptop .container-fluid h3 {
  text-align: center;
}

#back-office-container-laptop .navbar-nav {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
}

#back-office-container-laptop .pif {
  border: 1px solid red;
  height: 500px;
}

#back-office-container-laptop .paf {
  border: 1px solid blueviolet;
  height: 500px;
}
/*# sourceMappingURL=styles.css.map */