/*








*/

//GLOBAL=========================================================================================================

//HEADER=========================================================================================================
header
{
    background-image: url(../img/background/bg-header.jpg);
    background-position: center;
    background-size: cover;
    height: 80vh;

    .topBarre
    {
        display: flex;
        justify-content: space-between;
        padding-top: 5px;
        margin-bottom: 5px;
        color: rgb(237, 116, 100);

        a
        {
            margin-right: 25px;
            text-decoration: none;
            color: rgb(237, 116, 100);

            i
            {
                margin-right: 5px;
            }
        }
        
        .socialNetwork
        {
            display: flex;

            .socialNetwork-P
            {
                margin-right: 15px;
                padding-right: 15px;
                border-right: 1px solid rgb(200, 200, 200);
            }

            p
            {
                margin-bottom: 5px;

                i
                {
                    margin: 0px 5px;
                }
            }
        }
    }

    .topBarreContainer
    {
        border-bottom: 1px solid rgb(225, 225, 225);
    }
}
//NAV============================================================================================================
#principalNav
{
    
    background-color: rgba(230, 230, 230, 0.5);
    transition: all 0.5s;

    a
    {
        color: rgb(241, 78, 56);
        text-transform: uppercase;
    }

    .user-dropdown
    {
        height: 41px;

        .dropdown
        {
            a
            {
                padding: 0px;

                i
                {
                    font-size: 40px;
                    margin: 0px;
                }
            }
        }
    }
}

//FOOTER=========================================================================================================
footer
{
    color: white;
    background-color: rgb(150, 150, 150);
    height: 218px;
    padding: 15px 0px;

    .central-footer
    {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .bloc-mentions-legales
        {
            a
            {
                color: white;
                text-decoration: none;
                padding: 0px 20px;
                margin-right: -5px;
            }

            .border-right
            {
                border-right: 1px solid white;
            }
        }
    }

    .right-footer
    {
        li
        {
            list-style: none;

            a
            {
                color: white;
                text-decoration: none;
            }

            i
            {
                margin-right: 8px;
            }
        }
    }
}

//RESPONSIVE===================================================================================================
@media screen and (max-width: 1525px)
{
    .dropdown-menu[data-bs-popper]
    {
        top: 100%;
        left: -60px;
        margin-top: .125rem;
    }
}

@media screen and (max-width: 1399px)
{
    .dropdown-menu[data-bs-popper]
    {
        top: 100%;
        left: 0px;
        margin-top: .125rem;
    }
}

@media screen and (max-width: 1340px)
{
    .dropdown-menu[data-bs-popper]
    {
        top: 100%;
        left: -85px;
        margin-top: .125rem;
    }
}


//=================================================================================================================
//BACK-OFFICE======================================================================================================
//=================================================================================================================
#back-office-container-laptop
{
    #navBackOffice
    {
        border: 1px solid black;
    }
    .container-fluid
    {
        display: flex !important;
        flex-direction: column !important;

        h3
        {
            text-align: center;
        }
    }
    .navbar-nav
    {
        display: flex !important;
        flex-direction: column !important;
    }
    .pif
    {
        border: 1px solid red;
        height: 500px;
    }

    .paf
    {
        border: 1px solid blueviolet;
        height: 500px;
    }
}