/*








*/

//GLOBAL=========================================================================================================

h2
{
    text-align: center;
}

.inputDisappearance
{
    display: none;
}

.tBodyImg
{
    text-align: center;
}

.pageEnCours
{
    font-weight: bold;
}

//HEADER=========================================================================================================
header
{
    background-image: url(../img/background/bg-header.jpg);
    background-position: center;
    background-size: cover;
    height: 80vh;

    .topBarre
    {
        display: flex;
        justify-content: space-between;
        padding-top: 5px;
        margin-bottom: 5px;
        color: rgb(237, 116, 100);

        a
        {
            margin-right: 25px;
            text-decoration: none;
            color: rgb(237, 116, 100);

            i
            {
                margin-right: 5px;
            }
        }
        
        .socialNetwork
        {
            display: flex;

            .socialNetwork-P
            {
                margin-right: 15px;
                padding-right: 15px;
                border-right: 1px solid rgb(200, 200, 200);
            }

            p
            {
                margin-bottom: 5px;

                i
                {
                    margin: 0px 5px;
                }
            }
        }
    }

    .topBarreContainer
    {
        border-bottom: 1px solid rgb(225, 225, 225);
    }
}
//NAV============================================================================================================
#principalNav
{
    
    background-color: rgba(230, 230, 230, 0.5);
    transition: all 0.5s;

    a
    {
        color: rgb(241, 78, 56);
        text-transform: uppercase;
    }

    .user-dropdown
    {
        height: 41px;

        .dropdown
        {
            a
            {
                padding: 0px;

                i
                {
                    font-size: 40px;
                    margin: 0px;
                }
            }
        }
    }
}

//SECTION STATIONPRESENTATION====================================================================================
#stationPresentation
{
    .col-md-3
    {
        padding: 0px !important;
    }

    h2::after
    {
        display: block;
        height: 2px;
        background-color: rgb(241, 78, 56);
        width: 250px;
        content: "";
        margin: 5px auto;
        margin-bottom: 30px;
    }

    .stationPicture
    {
        padding-top: 50px;

        .col-md-12
        {
            padding: 0px !important;
        }

        // img
        // {
        //     width: auto;
        // }
    }    

    .containerChiefSpeech
    {
        padding-top: 50px;
        background-color: #e1e1e1;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        img
        {
            border-radius: 100%;
        }

        h3
        {
            text-align: center;
            margin-top: 30px;
            margin-bottom: 15px;
        }

        p
        {
            text-align: justify;
            padding: 0px 15px;
        }
        
    }
}

//SECTION STATION STORY==========================================================================================

#stationStory
{
    padding: 50px 0px;


    h2::after
    {
        display: block;
        height: 2px;
        background-color: rgb(241, 78, 56);
        width: 250px;
        content: "";
        margin: 5px auto;
        margin-bottom: 30px;
    }

    p
    {
        text-align: justify;
    }
}

//SECTION MISSIONS===============================================================================================
#missions
{
    padding-top: 50px;

    h2::after
    {
        display: block;
        height: 2px;
        background-color: rgb(241, 78, 56);
        width: 140px;
        content: "";
        margin: 5px auto;
        margin-bottom: 30px;
    }
}

//SECTION ENGINS=================================================================================================
#engins
{
    padding: 50px 0px;

    h2::after
    {
        display: block;
        height: 2px;
        background-color: rgb(241, 78, 56);
        width: 115px;
        content: "";
        margin: 5px auto;
        margin-bottom: 30px;
    }

    .enginGlobalContainer
    {
        .enginArticle:nth-child(n+2)
        {
            margin-top: 25px;
        }

        .enginArticle:nth-child(odd)
        {
            display: flex;
        }

        .enginArticle:nth-child(even)
        {
            display: flex;
            flex-direction: row-reverse;
        }

        img
        {
            border-radius: 8px;
            box-shadow: 0px 0px 5px #646464;
        }

        .descriptContainer
        {
            padding: 0px 15px;
            
            p
            {
                text-align: justify;
            }
        }
    }
}

//SECTION AMICALE DESCRIPT=======================================================================================
#AmicaleDescript
{
    padding-top: 50px;

    h2::after
    {
        display: block;
        height: 2px;
        background-color: rgb(241, 78, 56);
        width: 250px;
        content: "";
        margin: 5px auto;
        margin-bottom: 30px;
    }

    p
    {
        text-align: justify;
    }
}
//SECTION AMICALE NEWS===========================================================================================
#amicaleNews
{
    padding: 50px 0px;

    h2::after
    {
        display: block;
        height: 2px;
        background-color: rgb(241, 78, 56);
        width: 90px;
        content: "";
        margin: 5px auto;
        margin-bottom: 30px;
    }

    p
    {
        text-align: justify;
    }
}

//SECTION GOLDEN BOOK============================================================================================
#goldenBook
{
    padding-top: 50px;

    h2::after
    {
        display: block;
        height: 2px;
        background-color: rgb(241, 78, 56);
        width: 100px;
        content: "";
        margin: 5px auto;
        margin-bottom: 30px;
    }
}
//SECTION ADD GOLDEN BOOK========================================================================================
#addGoldenBookArticle
{
    padding: 50px 0px;

    h2::after
    {
        display: block;
        height: 2px;
        background-color: rgb(241, 78, 56);
        width: 200px;
        content: "";
        margin: 5px auto;
        margin-bottom: 30px;
    }

    #golden_book_title
    {
        width: 250px;
        margin-bottom: 25px;
    }

    .goldenBookFormPublic
    {
        display: flex;
        flex-direction: column;
    }

    .btnPosteGoldenBook
    {
        background-color: #0d6efd;
        border: 1px solid #0d6efd;
        color: white;
        margin-top: 12px;
        width: 125px;
        
    }

    .btnValidateGoldenBook
    {
        display: none;
    }
}

//FOOTER=========================================================================================================
footer
{
    color: white;
    background-color: rgb(175, 175, 175);
    height: 218px;
    padding: 15px 0px;

    .central-footer
    {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .bloc-mentions-legales
        {
            a
            {
                color: white;
                text-decoration: none;
                padding: 0px 20px;
                margin-right: -5px;
            }

            .border-right
            {
                border-right: 1px solid white;
            }
        }
    }

    .right-footer
    {
        li
        {
            list-style: none;

            a
            {
                color: white;
                text-decoration: none;
            }

            i
            {
                margin-right: 8px;
            }
        }
    }
}

//RESPONSIVE===================================================================================================
@media screen and (max-width: 1525px)
{
    .dropdown-menu[data-bs-popper]
    {
        top: 100%;
        left: -60px;
        margin-top: .125rem;
    }
}

@media screen and (max-width: 1399px)
{
    .dropdown-menu[data-bs-popper]
    {
        top: 100%;
        left: 0px;
        margin-top: .125rem;
    }
}

@media screen and (max-width: 1340px)
{
    .dropdown-menu[data-bs-popper]
    {
        top: 100%;
        left: -85px;
        margin-top: .125rem;
    }
}


//=================================================================================================================
//BACK-OFFICE======================================================================================================
//=================================================================================================================
#back-office-container-laptop
{
    h2::after
    {
        display: block;
        height: 2px;
        background-color: rgb(241, 78, 56);
        width: 200px;
        content: "";
        margin: 5px auto;
        margin-bottom: 30px;
    }

    tbody .aEdit
    {
        border: transparent;
        border-radius: 25px;
        padding: 5px;
        color: green;
        text-decoration: none;
        transition: all 1s;

        .fa-edit
        {
            margin-right: 5px;
        }
    }

    tbody .aEdit:hover
    {
        color: green;
        text-decoration: underline;
        border: 1px solid white;
        border-radius: 25px;
        background-color: white;
    }

    .container-fluid
    {
        display: flex !important;
        flex-direction: column !important;

        a
        {
            text-decoration: none;

            h3
            {
                text-align: center;
                color: rgb(241, 78, 56);
            }
        }
    }
    .navbar-nav
    {
        display: flex !important;
        flex-direction: column !important;
        
    }
    .navcontainer
    {
        padding: 50px 0px;
        background-color: rgb(225, 225, 225);
        border: 1px solid rgb(225, 225, 225);
        box-shadow: 2px 0px 5px -2px rgba(0, 0, 0, 0.78);
    }

    .backOfficeContainer
    {
        padding: 50px 25px;
    }
}