{% extends 'base.html.twig' %}

{% block title %}Mettre à jour l'image de groupe{% endblock %}

{% block body %}
    <section id="editStationCorePicture" class="editContainer">
        <div class="container">
            <h2>Mettre à jour l'image de groupe</h2>

            {{ include('station_core_picture/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

            <a class="btn-back" href="{{ path('station_core_picture_index') }}">Retour à la liste</a>
        </div>
    </section>    
{% endblock %}
