{% extends 'base.html.twig' %}

{% block title %}New StationCorePicture{% endblock %}

{% block body %}
    <h1>Create new StationCorePicture</h1>

    {{ include('station_core_picture/_form.html.twig') }}

    <a href="{{ path('station_core_picture_index') }}">back to list</a>
{% endblock %}
