{% extends 'base.html.twig' %}

{% block title %}Ajout photo groupe{% endblock %}

{% block body %}
    <section id="newStationCorePicture" class="newContainer">
        <div class="container">
            <h2>Ajouter une nouvelle photo du groupe</h2>

            {{ include('station_core_picture/_form.html.twig') }}

            <a class="btn-back" href="{{ path('station_core_picture_index') }}">Retour à la liste</a>
        </div>
    </section>    
{% endblock %}
