/*





*/


//GLOBAL=========================================================================================================
body
{
    background-color: rgb(220, 220, 220);

    h2
    {
        text-align: center;
    }

    .modal
    {
        color: rgb(75, 75, 75);
    }
}



//HEADER=========================================================================================================
// header
// {
//     border: 1px solid black;
// }
//NAV============================================================================================================
#principalNav
{
    
    background-color: rgb(255, 255, 255);
    transition: all 0.5s;

    a
    {
        color: rgb(241, 78, 56);
        text-transform: uppercase;
    }

    .user-dropdown
    {
        height: 41px;
        margin-bottom: 8px !important;

        .dropdown
        {
            
            a
            {
                padding: 0px;
                

                .profile-img
                {
                    width: 50px;
                    border-radius: 50%;
                    // font-size: 40px;
                    margin: 0px;
                    padding: 0px;
                }
            }
        }
    }
}

//ACCUEIL EXTRANET===========================================================================
#accueil-extranet
{
    h2
    {
        margin-top: 30px;
    }

    h2::after
    {
        display: block;
        height: 2px;
        background-color: rgb(241, 78, 56);
        width: 250px;
        content: "";
        margin: 5px auto;
        margin-bottom: 50px;
    }

    .principal-bloc-container
    {     
        margin: 0px 75px;

        .dual-bloc-container
        { 
            .bloc-category
            {
                margin-bottom: 50px;
                height: 280px;

                .category-name
                {
                    height: 30px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .icons
                    {
                        width: 30px;

                        i
                        {
                            margin-left: 5px;
                            color: white;
                        }
                    }

                    .title
                    {
                        width: 100%;

                        h3
                        {
                            text-align: center;
                            font-size: 18px;
                            margin: 0px;
                            color: white;
                        }
                    }
                }
            }
        }

        .first-bloc
        {
            .bloc-category
            {
                border: 1px solid rgb(160, 160, 160);
                border-radius: 3px;

                .category-name
                {
                    background-color: rgb(160, 160, 160);
                    border-bottom: 1px solid rgb(160, 160, 160);
                    border-radius: 3px;
                }

                .category-content
                {
                    background-color: rgb(251, 247, 246);
                    height: 248px;
                    border-bottom: 3px;
                }
            }
        }

        .second-bloc
        {
            .bloc-category
            {
                border: 1px solid rgb(48, 131, 149);
                border-radius: 3px;

                .category-name
                {
                    background-color: rgb(48, 131, 149);
                    border-bottom: 1px solid rgb(48, 131, 149);
                    border-radius: 3px;
                }

                .category-content
                {
                    background-color: rgb(235, 239, 240);
                    height: 248px;
                    border-bottom: 3px;
                }
            }
        }

        .third-bloc
        {
            .bloc-category
            {
                border: 1px solid rgb(213, 51, 72);
                border-radius: 3px;

                .category-name
                {
                    background-color: rgb(213, 51, 72);
                    border-bottom: 1px solid rgb(213, 51, 72);
                    border-radius: 3px;
                }

                .category-content
                {
                    background-color: rgb(242, 230, 232);
                    height: 248px;
                    border-bottom: 3px;

                    ul
                    {
                        display: flex;
                        justify-content: space-between;
                        padding: 0px;
                        padding: 0px 50px;
                        padding-top: 20px;

                        li
                        {
                            list-style: none;
                            display: flex;
                            flex-direction: column;
                            align-items: center;

                            a{
                                background-color: rgb(216, 120, 133);
                                border-radius: 5px;
                                width: 60px;
                                height: 60px;
                                font-size: 40px;
                                color: white;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                text-decoration: none;
                            }
                        }
                    }

                    // a
                    // {
                    //     display: flex;
                        // flex-direction: column;
                    // }
                }
            }
        }

        .fourth-bloc
        {
            .bloc-category
            {
                border: 1px solid rgb(78, 68, 118);
                border-radius: 3px;

                .category-name
                {
                    background-color: rgb(78, 68, 118);
                    border-bottom: 1px solid rgb(78, 68, 118);
                    border-radius: 3px;
                }

                .category-content
                {
                    background-color: rgb(228, 227, 235);
                    height: 248px;
                    border-bottom: 3px;
                }
            }
        }
    }
}

//PAGE CONFIG SERVCE VEHICLE===============================================================================
#configServiceVehicle
{
    h2
    {
        margin-top: 30px;
    }

    h2::after
    {
        display: block;
        height: 2px;
        background-color: rgb(241, 78, 56);
        width: 200px;
        content: "";
        margin: 5px auto;
        margin-bottom: 50px;
    }
}

//PAGE NEW/EDIT CONTROL VEHICLES=================================================================================
#newControlVehicle, #editControlVehicle
{
    h2
    {
        margin-top: 30px;
    }

    h2::after
    {
        display: block;
        height: 2px;
        background-color: rgb(241, 78, 56);
        width: 200px;
        content: "";
        margin: 5px auto;
        margin-bottom: 50px;
    }

    form
    {
        display: flex;
        flex-direction: column;
        align-items: center;

        .controlInfos
        {
            display: flex;
            margin-bottom: 20px;
            width: 100%;

            div
            {
                display: flex;
                flex-direction: column;
                margin-right: 15px;

                div
                {
                    flex-direction: row;
                    margin: 0px;
                }
            }
        }

        .controlContent
        {
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;
            width: 100%;

            .first-line
            {
                display: flex;
                margin-bottom: 20px;

                div
                {
                    display: flex;
                    flex-direction: column;
                    margin-right: 15px;
                }
            }

            .second-line
            {
                display: flex;

                div
                {
                    display: flex;
                    flex-direction: column;
                    margin-right: 15px;
                }
            }
        }

        .controlAnnotations
        {
            margin-bottom: 20px;
            width: 100%;
        }

        .btn-primary
        {
            width: 150px;
            padding: 10px 0px;
            border-radius: 5px;
            margin-bottom: 12px;
        }

        .btn-danger
        {
            width: 100px;
            padding: 5px 0px;
            border-radius: 5px;
        }
    }
}