{% extends 'base.html.twig' %}

{% block title %}Back-Office{% endblock %}

{% block body %}
<section id="back-office-container-laptop">
    <div class="container">
        <div class="row">
            <div class="pif col-md-3">
                <div class="row">
                    <div class="col-md-12">
                        <nav id="navBackOffice" class="navbar navbar-expand-lg navbar-light bg-light">
                            <div class="container-fluid">
                                <h3>Menu<br>Back-Office</h3>
                                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                                    <ul class="navbar-nav">
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                Acceuil
                                            </a>
                                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                                <li><a class="dropdown-item" href="#">Photo groupe</a></li>
                                                <li><a class="dropdown-item" href="#">Encart chef de centre</a></li>
                                                <li><a class="dropdown-item" href="#">Histoire de la caserne</a></li>
                                            </ul>
                                        </li>

                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                Nos Missions
                                            </a>
                                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                                <li><a class="dropdown-item" href="#">Missions</a></li>
                                                <li><a class="dropdown-item" href="#">Engin</a></li>
                                            </ul>
                                        </li>

                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                L'amicale
                                            </a>
                                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                                <li><a class="dropdown-item" href="#">Présentation</a></li>
                                                <li><a class="dropdown-item" href="#">Actualitées</a></li>
                                            </ul>
                                        </li>

                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Livre d'or</a>
                                        </li>

                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Gestion utilisateurs</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
    
            <div class="paf col-md-9">
    
            </div>
        </div>
    </div>
</section>
{% endblock %}


