{% extends 'base.html.twig' %}

{% block title %}Edit GoldenBook{% endblock %}

{% block body %}
    <section id="editStationCorePicture" class="editContainer">
        <div class="container">
            <h2>Gérer la publication</h2>

            {{ include('golden_book/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

            <a class="btn-back" href="{{ path('golden_book_admin') }}">Retour à la liste</a>
        </div>
    </section> 
{% endblock %}
