{% extends 'base.html.twig' %}

{% block title %}Edit StationStory{% endblock %}

{% block body %}
    <section id="editStationCorePicture" class="editContainer">
        <div class="container">
            <h1>Mettre à jour l'article "histoire de la caserne</h1>

            {{ include('station_story/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

            <a class="btn-back" href="{{ path('station_story_index') }}">Retour à la liste</a>
        </div>
    </section> 

{% endblock %}
