{% extends 'base.html.twig' %}

{% block title %}New StationStory{% endblock %}

{% block body %}
    <h1>Create new StationStory</h1>

    {{ include('station_story/_form.html.twig') }}

    <a href="{{ path('station_story_index') }}">back to list</a>
{% endblock %}
