{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}

<section id="contact-form">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div>
                    {{form(form)}}
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}
