<form method="post" action="{{ path('engins_delete', {'id': engin.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ engin.id) }}">
    <button class="btn">Delete</button>
</form>
