{% extends 'base.html.twig' %}

{% block title %}Edit Engins{% endblock %}

{% block body %}

    <section id="editStationCorePicture" class="editContainer">
        <div class="container">
            <h2>Mettre à jour : {{ engin.title }} </h2>

            {{ include('engins/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

            <a class="btn-back" href="{{ path('engins_index') }}">Retour à la liste</a>
        </div>
    </section> 
    
{% endblock %}
