{% extends 'base.html.twig' %}

{% block title %}New Engins{% endblock %}

{% block body %}

<section id="newStationCorePicture" class="newContainer">
        <div class="container">
            <h2>Ajouter un nouvelle engin</h2>

            {{ include('engins/_form.html.twig') }}

            <a class="btn-back" href="{{ path('engins_index') }}">Retour à la liste</a>
        </div>
    </section>  

{% endblock %}
