{% extends 'base.html.twig' %}

{% block title %}New RoleCenter{% endblock %}

{% block body %}
    <h1>Create new RoleCenter</h1>

    {{ include('role_center/_form.html.twig') }}

    <a href="{{ path('role_center_index') }}">back to list</a>
{% endblock %}
