{% extends 'baseExtranet.html.twig' %}

{% block title %}Edit OrderRequired{% endblock %}

{% block body %}
    <h1>Edit OrderRequired</h1>

    {{ include('order_required/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('order_required_index') }}">Retour au tableau</a>

{% endblock %}
