{% extends 'baseExtranet.html.twig' %}

{% block title %}New OrderRequired{% endblock %}

{% block body %}
    <h1>Create new OrderRequired</h1>

    {{ include('order_required/_form.html.twig') }}

    <a href="{{ path('order_required_index') }}">Retour au tableau</a>
{% endblock %}
