{% extends 'base.html.twig' %}

{% block title %}New AmicaleDescript{% endblock %}

{% block body %}
    <section id="newStationCorePicture" class="newContainer">
        <div class="container">
            <h2>Créer le text de présentation de l'amicale</h2>

            {{ include('amicale_descript/_form.html.twig') }}

            <a class="btn-back" href="{{ path('amicale_descript_index') }}">Retour à la liste</a>
        </div>
    </section>  
{% endblock %}
