{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <section id="Edit-account">
        {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}
        <a class="btn-back" href="{{ path('user_index') }}">Retour à la liste</a>
    </section>

    
{% endblock %}
